body {
    background-color: #333030;
}
/* Стилизация контейнера для ссылок */
nav {
    width: 100vw;
    height: 5vh;
    margin-top: 2vh;
    display: flex;
}

.logo {
    font-size: 25px;
    cursor: pointer;
    width: 5vw;
    margin-left: 5vw;
    color: seashell;
}

ul {
    width: 110vh;
    height: 5vh;
    text-align: center;
    margin-top: 0.01vw;
    margin-left: 80vh;
}

ul li {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    margin-left: 1vw;
    margin-right: 2vw;
    color: rgb(151, 148, 145);
}   

ul li:hover {
    color: wheat;
    transition: 0.3s;
    border-bottom: solid 1px white;
}
a {
    color: rgb(151, 148, 145);
    text-decoration: none;
}

a:hover {
    color: wheat;
    transition: 0.5s;
    border-bottom: solid 1px white;
    
}
h2 {
    color: aqua;
}

.h1 {
    color: aqua;
}
img {
    width: auto;
    height: 500px;
    
}
.container {
    display: flex; /* Используем Flexbox */
    flex-direction: row; /* Размещаем элементы в ряд */
    justify-content: space-between; /* Распределяем пространство между элементами */
    width: 100%; /* Ширина контейнера равна ширине экрана */
}
.stolbik {
    flex: 1; /* Элементы будут занимать равное пространство */
    padding: 10px; /* Добавляем отступы */
}
.text-one {
    font-size: 25px;
    color:beige;
}
.zakaz {
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.text-red {
    font-size: 20px;
    color:darkcyan;
}
.reg {
    font-size: 40px;
    color: white;
    padding: 20px;
}
.contacts {
    font-size: 25px;
    color: white;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.text-buy {
    font-size: 30px;
    color: #00ffd5;
}